<bolao-bg-video></bolao-bg-video>

<div
  class="sm:w-screen lg:w-96 lg:mx-auto h-screen flex flex-col text-center p-8 gap-2"
>
  <div
    class="flex flex-col text-slate-100"
    style="text-shadow: 2px 2px #303030"
  >
    <div class="text-2xl flex font-extra-light justify-between">
      <div>T</div>
      <div>I</div>
      <div>P</div>
      <div>P</div>
      <div>S</div>
      <div>P</div>
      <div>I</div>
      <div>E</div>
      <div>L</div>
    </div>
    <div class="text-6xl flex font-black justify-between">
      <div>W</div>
      <div>M</div>
      <div></div>
      <div></div>
      <div>2</div>
      <div>0</div>
      <div>2</div>
      <div>2</div>
    </div>
  </div>
  <div class="flex-1"></div>
  <div class="text-slate-50 text-2xl">
    Ein Fehler ist aufgetreten. Bist du offline?
  </div>
  <button
    type="button"
    class="btn btn-generic mt-4 mb-32 py-2"
    (click)="tryAgain()"
  >
    Erneut versuchen
  </button>
  <bolao-signature></bolao-signature>
</div>
