<details>
  <summary>
    <div
      class="flex flex-row gap-x-2 p-1.5 cursor-pointer"
      [class.hover:bg-slate-100]="position > 2"
    >
      <img [src]="picture" class="rounded-full w-8 h-8 my-auto" />
      <div
        class="mx-4 my-auto w-10 text-center text-xl font-bold rounded-full"
        [class.text-red-500]="rankingInfo.user.id == this.userId"
        [class.bg-gold-400]="position == 0"
        [class.bg-slate-300]="position == 1"
        [class.bg-gold-700]="position == 2"
      >
        {{ position + 1 }}
      </div>
      <div
        [class.text-red-500]="rankingInfo.user.id == this.userId"
        class="my-auto flex-1 truncate font-bold text-xl"
        [title]="
          (
            this.rankingInfo.user.firstName +
            ' ' +
            this.rankingInfo.user.lastName
          ).toUpperCase()
        "
      >
        {{
          (
            this.rankingInfo.user.firstName +
            " " +
            this.rankingInfo.user.lastName
          ).toUpperCase()
        }}
      </div>
      <div
        class="my-auto w-12 text-center text-xl rounded-full bg-slate-800 text-slate-50"
        [class.bg-red-500]="rankingInfo.user.id == this.userId"
      >
        {{ this.rankingInfo.points }}
      </div>
      <div
        class="ml-4 my-auto w-12 text-center font-bold text-xl rounded-full bg-opacity-40 bg-rainbow-2000 hidden md:block"
      >
        {{ occurences(this.rankingInfo.bets, 20) }}
      </div>
      <div
        class="my-auto w-12 text-center font-bold text-xl rounded-full bg-opacity-40 bg-rainbow-1000 hidden md:block"
      >
        {{ occurences(this.rankingInfo.bets, 10) }}
      </div>
      <div
        class="my-auto w-12 text-center font-bold text-xl rounded-full bg-opacity-40 bg-rainbow-700 hidden md:block"
      >
        {{ occurences(this.rankingInfo.bets, 7) }}
      </div>
      <div
        class="my-auto w-12 text-center font-bold text-xl rounded-full bg-opacity-40 bg-rainbow-400 hidden md:block"
      >
        {{ occurences(this.rankingInfo.bets, 4) }}
      </div>
      <div
        class="my-auto w-12 text-center font-bold text-xl rounded-full bg-opacity-40 bg-rainbow-200 hidden md:block"
      >
        {{ occurences(this.rankingInfo.bets, 2) }}
      </div>
      <div
        class="my-auto w-12 text-center font-bold text-xl rounded-full bg-opacity-40 bg-rainbow-100 hidden md:block"
      >
        {{ occurences(this.rankingInfo.bets, 1) }}
      </div>
      <div
        class="my-auto w-12 text-center font-bold text-xl rounded-full bg-opacity-40 bg-rainbow-50 hidden md:block"
      >
        {{ occurences(this.rankingInfo.bets, 0) }}
      </div>
    </div>
  </summary>

  <div class="flex flex-row pl-32"></div>
</details>
