<details *transloco="let t; lang: this.language">
  <summary>
    <div
      class="flex flex-row gap-x-2 p-1.5 cursor-pointer"
      [class.hover:bg-slate-100]="position > 2"
    >
      <img
        [src]="picture"
        class="rounded-full w-8 h-8 my-auto hidden md:block"
      />
      <div
        class="mx-4 my-auto w-10 text-center text-xl font-bold rounded-full border"
        [class.text-red-500]="rankingInfo.user.id == this.userId"
        [class.bg-gold-400]="position == 0"
        [class.bg-slate-300]="position == 1"
        [class.bg-gold-700]="position == 2"
        [class.bg-qatar-500]="isLast"
        [class.text-slate-50]="isLast"
        [class.border-qatar-500]="isQualifiedForLast"
      >
        {{ position + 1 }}
      </div>
      <div
        [class.text-red-500]="rankingInfo.user.id == this.userId"
        class="my-auto flex-1 truncate font-bold text-xl"
        [title]="
          (
            this.rankingInfo.user.firstName +
            ' ' +
            this.rankingInfo.user.lastName
          ).toUpperCase()
        "
      >
        <span class="mr-4">
          {{
            (
              this.rankingInfo.user.firstName +
              " " +
              this.rankingInfo.user.lastName
            ).toUpperCase()
          }}</span
        >
        <nz-tag
          class="mr-2 my-auto invisible md:visible"
          [nzColor]="firstStage >= 40 ? 'green' : 'red'"
          >{{ t("ranking.tags.firstStage") }}: {{ firstStage }}
          {{ t("ranking.tags.bets") }}</nz-tag
        >
        <nz-tag
          class="mr-2 my-auto invisible md:visible"
          [nzColor]="koStages >= 15 ? 'green' : 'red'"
          >{{ t("ranking.tags.knockout") }}: {{ koStages }}
          {{ t("ranking.tags.bets") }}</nz-tag
        >
      </div>
      <div class="my-auto w-32 text-center hidden md:block">
        <four-flags
          *ngIf="rankingInfo.user.attributes"
          [small]="true"
          [attributes]="rankingInfo.user.attributes"
        ></four-flags>
      </div>
      <div
        class="my-auto w-12 text-center text-xl rounded-full bg-slate-800 text-slate-50"
        [class.bg-red-500]="rankingInfo.user.id == this.userId"
      >
        {{ this.rankingInfo.points }}
      </div>
      <div
        class="ml-4 my-auto w-12 text-center font-bold text-xl rounded-full bg-qatar-500 text-slate-50 hidden md:block"
      >
        {{ this.rankingInfo.bonusPoints }}
      </div>
      <div
        class="ml-4 my-auto w-12 text-center font-bold text-xl rounded-full bg-rainbow-2000 hidden md:block"
      >
        {{ occurences(this.rankingInfo.bets, 20) }}
      </div>
      <div
        class="my-auto w-12 text-center font-bold text-xl rounded-full bg-rainbow-1000 hidden md:block"
      >
        {{ occurences(this.rankingInfo.bets, 10) }}
      </div>
      <div
        class="my-auto w-12 text-center font-bold text-xl rounded-full bg-rainbow-700 hidden md:block"
      >
        {{ occurences(this.rankingInfo.bets, 7) }}
      </div>
      <div
        class="my-auto w-12 text-center font-bold text-xl rounded-full bg-rainbow-400 hidden md:block"
      >
        {{ occurences(this.rankingInfo.bets, 4) }}
      </div>
      <div
        class="my-auto w-12 text-center font-bold text-xl rounded-full bg-rainbow-200 hidden md:block"
      >
        {{ occurences(this.rankingInfo.bets, 2) }}
      </div>
      <div
        class="my-auto w-12 text-center font-bold text-xl rounded-full bg-rainbow-100 hidden md:block"
      >
        {{ occurences(this.rankingInfo.bets, 1) }}
      </div>
      <div
        class="my-auto w-12 text-center font-bold text-xl rounded-full bg-rainbow-50 hidden md:block"
      >
        {{ occurences(this.rankingInfo.bets, 0) }}
      </div>
    </div>
  </summary>

  <div class="flex flex-col pl-32" *ngIf="false">
    <bet-detail *ngFor="let bet of bets" [bet]="bet"></bet-detail>
  </div>
</details>
