<div class="flex flex-col p-4" *transloco="let t; lang: this.language">
  <div class="flex flex-row gap-x-2 py-1">
    <div class="w-8 my-auto">&nbsp;</div>
    <div
      class="mx-4 my-auto w-10 text-right font-bold text-xl hidden md:block"
    ></div>
    <div class="my-auto flex-1 font-bold text-xl">{{ t("ranking.name") }}</div>
    <div
      class="my-auto w-32 text-center font-bold text-xl hidden md:block"
    ></div>
    <div class="my-auto w-12 text-center font-bold text-xl">
      {{ t("ranking.points") }}
    </div>
    <div
      class="ml-4 my-auto w-12 text-center font-bold text-xl hidden md:block"
    >
      20
    </div>
    <div class="my-auto w-12 text-center font-bold text-xl hidden md:block">
      10
    </div>
    <div class="my-auto w-12 text-center font-bold text-xl hidden md:block">
      7
    </div>
    <div class="my-auto w-12 text-center font-bold text-xl hidden md:block">
      4
    </div>
    <div class="my-auto w-12 text-center font-bold text-xl hidden md:block">
      2
    </div>
    <div class="my-auto w-12 text-center font-bold text-xl hidden md:block">
      1
    </div>
    <div class="my-auto w-12 text-center font-bold text-xl hidden md:block">
      0
    </div>
  </div>

  <ranking-item
    *ngFor="let r of this.ranking; let i = index"
    [rankingInfo]="r"
    [position]="i"
  ></ranking-item>
</div>
