<div class="flex flex-col p-4" *transloco="let t; lang: this.language">
  <div class="text-2xl mb-6">{{ t("bonusBets.title") }}</div>

  <div
    class="font-mono my-4 mx-auto flex flex-row grid-cols-4 gap-4 text-qatar-500 text-2xl"
  >
    <div class="relative">
      <fa-icon
        *ngIf="this.first.length > 0"
        class="absolute -top-1 -right-1 z-1000 text-qatar-600 cursor-pointer"
        [icon]="deleteIcon"
        (click)="remove(1)"
      ></fa-icon>
      <div
        class="flex rounded-full border-2 border-qatar-500 p-1.5 w-20 h-20 overflow-hidden"
        cdkDropList
        #bet1="cdkDropList"
        [cdkDropListData]="first"
        [cdkDropListConnectedTo]="[bet2, bet3, bet4]"
        (cdkDropListDropped)="onDrop($event)"
      >
        <flag
          *ngIf="first.length == 1"
          class="mx-auto hover:drop-shadow-md cursor-pointer w-8 h-8 md:w-16 md:h-16"
          [country]="first[0].shortName"
          format="round"
          cdkDrag
        ></flag>
      </div>
    </div>

    <div class="relative">
      <fa-icon
        *ngIf="this.second.length > 0"
        class="absolute -top-1 -right-1 z-1000 text-qatar-600 cursor-pointer"
        [icon]="deleteIcon"
        (click)="remove(2)"
      ></fa-icon>
      <div
        class="flex rounded-full border-2 border-qatar-500 p-1.5 w-20 h-20 overflow-hidden"
        cdkDropList
        #bet2="cdkDropList"
        [cdkDropListData]="second"
        [cdkDropListConnectedTo]="[bet1, bet3, bet4]"
        (cdkDropListDropped)="onDrop($event)"
      >
        <flag
          *ngIf="second.length == 1"
          class="mx-auto hover:drop-shadow-md cursor-pointer w-8 h-8 md:w-16 md:h-16"
          [country]="second[0].shortName"
          format="round"
          cdkDrag
        ></flag>
      </div>
    </div>

    <div class="relative">
      <fa-icon
        *ngIf="this.third.length > 0"
        class="absolute -top-1 -right-1 z-1000 text-qatar-600 cursor-pointer"
        [icon]="deleteIcon"
        (click)="remove(3)"
      ></fa-icon>
      <div
        class="flex rounded-full border-2 border-qatar-500 p-1.5 w-20 h-20 overflow-hidden"
        cdkDropList
        #bet3="cdkDropList"
        [cdkDropListData]="third"
        [cdkDropListConnectedTo]="[bet1, bet2, bet4]"
        (cdkDropListDropped)="onDrop($event)"
      >
        <flag
          *ngIf="third.length == 1"
          class="mx-auto hover:drop-shadow-md cursor-pointer w-8 h-8 md:w-16 md:h-16"
          [country]="third[0].shortName"
          format="round"
          cdkDrag
        ></flag>
      </div>
    </div>

    <div class="relative">
      <fa-icon
        *ngIf="this.fourth.length > 0"
        class="absolute -top-1 -right-1 z-1000 text-qatar-600 cursor-pointer"
        [icon]="deleteIcon"
        (click)="remove(4)"
      ></fa-icon>
      <div
        class="flex rounded-full border-2 border-qatar-500 p-1.5 w-20 h-20 overflow-hidden"
        cdkDropList
        #bet4="cdkDropList"
        [cdkDropListData]="fourth"
        [cdkDropListConnectedTo]="[bet1, bet2, bet3]"
        (cdkDropListDropped)="onDrop($event)"
      >
        <flag
          *ngIf="fourth.length == 1"
          class="mx-auto cursor-pointer w-8 h-8 md:w-16 md:h-16"
          [country]="fourth[0].shortName"
          format="round"
          cdkDrag
        ></flag>
      </div>
    </div>
  </div>

  <div
    class="font-mono my-4 mx-auto grid grid-flow-row grid-cols-8 gap-4"
    cdkDropList
    [cdkDropListData]="teams"
    [cdkDropListConnectedTo]="[bet1, bet2, bet3, bet4]"
  >
    <div class="flex flex-col" *ngFor="let team of teams; let index = index">
      <flag
        class="mx-auto hover:drop-shadow-md cursor-pointer w-8 h-8 md:w-16 md:h-16"
        [country]="team.shortName"
        format="round"
        cdkDrag
      ></flag>
      <span class="mx-auto mt-2 text-xs uppercase truncate hidden md:block">{{
        teamName(team)
      }}</span>
    </div>
  </div>

  <div class="text-right border-t border-slate-400 pt-4">
    <button class="btn btn-out" (click)="cancel()">
      {{ t("buttons.cancel") }}
    </button>
    <button
      class="btn btn-std"
      (click)="setBets()"
      [disabled]="this.betsMissing"
    >
      {{ t("buttons.continue") }}
    </button>
  </div>
</div>
